In [28]:
import pandas as pd
import numpy as np 
import statistics as stats

In [19]:
df=pd.read_csv("/kaggle/input/customer-churn-with-missing-values/customer_churn_with_missing_values.csv")

In [20]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,age
0,ID0000,Male,1,Yes,Yes,62,Yes,No,No,No,...,No internet service,No internet service,No,Two year,Yes,Electronic check,24.12,2879.77,Yes,72.0
1,ID0001,Female,1,Yes,Yes,11,No,No,Fiber optic,No,...,Yes,No,No,Month-to-month,No,Credit card (automatic),64.17,5618.99,Yes,48.0
2,ID0002,Female,1,No,No,10,Yes,Yes,No,No,...,No internet service,No internet service,No internet service,Month-to-month,Yes,Bank transfer (automatic),75.12,2417.24,Yes,47.0
3,ID0003,Female,0,Yes,Yes,12,Yes,Yes,No,No,...,No,No,Yes,Month-to-month,No,Bank transfer (automatic),86.51,258.47,Yes,83.0
4,ID0004,Male,0,Yes,Yes,34,Yes,No phone service,Fiber optic,Yes,...,No internet service,No internet service,Yes,Month-to-month,Yes,Electronic check,49.12,366.14,Yes,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,ID7038,Female,1,No,No,25,No,No phone service,DSL,No,...,No,No,No internet service,Two year,No,Bank transfer (automatic),89.45,2624.73,No,83.0
7039,ID7039,Female,0,No,Yes,42,No,No phone service,DSL,No,...,No internet service,No internet service,No,One year,No,Mailed check,83.03,81.89,Yes,21.0
7040,ID7040,Female,1,No,Yes,43,No,No phone service,No,Yes,...,No,No internet service,Yes,One year,No,Mailed check,80.54,1100.52,Yes,53.0
7041,ID7041,Male,1,No,Yes,37,Yes,Yes,DSL,No internet service,...,No,No,No,Month-to-month,Yes,Credit card (automatic),36.71,2866.15,Yes,74.0
7042,ID7042,Female,0,No,Yes,28,Yes,No phone service,Fiber optic,Yes,...,No internet service,No,No,Month-to-month,No,Credit card (automatic),108.32,2968.59,No,74.0

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            6993 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   object
 21  age               6743 non-null   float64
dtypes: float64(3), int64(2), object(17)
memory usage: 1.2+ MB

Gender -->54 missing values
Age---> 300 missing values

In [22]:
df.isnull().sum()

customerID            0
gender               50
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          0
Churn                 0
age                 300
dtype: int64

**Handling Missing values**

In [24]:
#Deleting the columns with missing data
updated_df=df.dropna(axis=1)

In [25]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [26]:
#deleting the row with the missing value
updated_df=df.dropna(axis=0)

In [27]:
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6697 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        6697 non-null   object
 1   gender            6697 non-null   object
 2   SeniorCitizen     6697 non-null   int64
 3   Partner           6697 non-null   object
 4   Dependents        6697 non-null   object
 5   tenure            6697 non-null   int64
 6   PhoneService      6697 non-null   object
 7   MultipleLines     6697 non-null   object
 8   InternetService   6697 non-null   object
 9   OnlineSecurity    6697 non-null   object
 10  OnlineBackup      6697 non-null   object
 11  DeviceProtection  6697 non-null   object
 12  TechSupport       6697 non-null   object
 13  StreamingTV       6697 non-null   object
 14  StreamingMovies   6697 non-null   object
 15  Contract          6697 non-null   object
 16  PaperlessBilling  6697 non-null   object
 17  PaymentMethod     6697 non-null   object
 18  MonthlyCharges    6697 non-null   float64
 19  TotalCharges      6697 non-null   float64
 20  Churn             6697 non-null   object
 21  age               6697 non-null   float64
dtypes: float64(3), int64(2), object(17)
memory usage: 1.2+ MB

**3 filling value with imputation**

In [30]:
df['age'].mean()

53.63858816550497

In [31]:
df['age'].median()

54.0

In [34]:
updated_df=df
updated_df['age']=updated_df['age'].fillna(df['age'].mean())
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            6993 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   object
 21  age               7043 non-null   float64
dtypes: float64(3), int64(2), object(17)
memory usage: 1.2+ MB

In [36]:
updated_df1 = df
updated_df1['age']=updated_df['age'].fillna(df['age'].median())
updated_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            6993 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   object
 21  age               7043 non-null   float64
dtypes: float64(3), int64(2), object(17)
memory usage: 1.2+ MB

In [39]:
updated_df=df
updated_df['gender']=updated_df['gender'].fillna(df['gender'].mode()[0])
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   object
 21  age               7043 non-null   float64
dtypes: float64(3), int64(2), object(17)
memory usage: 1.2+ MB

**4. Forward & Backward Filling – Imputation**

In [43]:
updated_df=df.copy()
updated_df['age'] = updated_df['age'].fillna(method='bfill') 
updated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   object
 21  age               7043 non-null   float64
dtypes: float64(3), int64(2), object(17)
memory usage: 1.2+ MB

<ipython-input-43-2a0f94c9f436>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  updated_df['age'] = updated_df['age'].fillna(method='bfill')